html, body,
h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
  padding: 0; }

body {
  display: flex;
  flex-direction: column;
  align-items: center; }

/* * * * * * * * * */
header, main, footer {
  width: 700px;
  margin: 0 auto; }
